<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.yvphk.model.form.HistoryRecord"/>
		<mapping class="com.yvphk.model.form.Participant"/>
		<mapping class="com.yvphk.model.form.Volunteer"/>
		<mapping class="com.yvphk.model.form.LoggedInVolunteer"/>
        <mapping class="com.yvphk.model.form.ParticipantSeat"/>
        <mapping class="com.yvphk.model.form.Event"/>
        <mapping class="com.yvphk.model.form.EventFee"/>
        <mapping class="com.yvphk.model.form.EventRegistration"/>
        <mapping class="com.yvphk.model.form.EventPayment"/>
        <mapping class="com.yvphk.model.form.ReferenceGroup"/>
        <mapping class="com.yvphk.model.form.RowMeta"/>
        <mapping class="com.yvphk.model.form.PHFoundation"/>
        <mapping class="com.yvphk.model.form.Kit"/>
        <mapping class="com.yvphk.model.form.VolunteerKit"/>
    </session-factory>
</hibernate-configuration>