.error {
	color: red;
}
#footer {
	text-align:center;
	color: blue;
}
.YLink a:link {
	color:#8F52A0;
	text-decoration:none;
}

.YLink a:hover {
    color:#8F52A0 !important;
    text-decoration:underline;
}

.YLink a:visited {
	color:#8F52A0;
	text-decoration:none;
}

.Kits {
    font:16px Verdana,Arial,Helvetica,sans-serif;
    text-align:right;
}

.KitsBold {
    font:18px Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align:left;
}
.formdata {
	background: #eee;
	width: 1325px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	box-shadow: inset 0 0 3px #bbb;
	color: #333;
}

.formtitle {
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px #fff;
}
	
.formbody {
	padding: 2px 2px;
	border-top: 1px solid #f7f7f7;
}
.ui-menubar { list-style: none; margin: 0; padding-left: 0; }
.ui-menubar-item { float: left; }
.ui-menubar .ui-button { float: left; font-weight: normal; border-top-width: 0 !important; border-bottom-width: 0 !important; margin: 0; outline: none; }
.ui-menubar .ui-menubar-link { border-right: 1px dashed transparent; border-left: 1px dashed transparent; }
.ui-menubar .ui-menu { width: 200px; position: absolute; z-index: 9999; font-weight: normal; }
